.home-shortcut-wrapper {
  width: 100%;
}

.shortcut-list {
  width: 1240px;
  margin: 0 auto;
  height: 88px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.shortcut-item {
  width: 275px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  transition: all 0.3s;
}

.title {
  font-size: 15px;
  margin-bottom: 5px;
  color: #333;
}

.shortcut-item:hover .title {
  color: #ff8140;
}

.desc {
  font-size: 14px;
  color: #999;
}

.right {
  color: #999;
  font-size: 20px;
}

.arrow-icon {
  width: 16px;
  height: 16px;
}