.news_wrapper {
  width: 275px;
}

.news_tit h2 {
  font-size: 24px;
  font-weight: 500;
  color: #000;
  position: relative;
  display: inline-block;
  padding-right: 35px;
  line-height: 1;
}

.news_tit h2:after {
  content: '';
  display: block;
  right: 0;
  top: 50%;
  transform: translateY(-60%);
  position: absolute;
  width: 31px;
  height: 32px;
  background-image: url('@/assets/images/home/news-list/tit-1.png');
  background-size: 100% 100%;
}

.list .item {
  position: relative;
  margin-top: 35px;
  cursor: pointer;
}

.list .item p {
  word-wrap: normal;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 250px;
  transition: 0.6s;
  font-size: 14px;
  line-height: 20px;
  color: #333;
}

.list .item:hover p {
  color: #ff8140;
  transition: 0.3s;
}

.list .item span {
  display: block;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(0, -50%);
  background-image: url('@/assets/icons/arrow-right/icons8-arrow-100.png');
  width: 12px;
  height: 12px;
  background-size: cover;
  margin-left: 80px;
  transition: 0.3s;
}

.list .item:hover span {
  background-image: url('@/assets/icons/arrow-right/icons9-arrow-100.png');
  transform: translate(3px, -50%);
  transition: 0.3s;
}

.more {
  margin-top: 40px;
  display: inline-block;
  background-image: url('@/assets/icons/arrow-right/icons8-arrow-100.png');
  background-size: 12px auto;
  background-repeat: no-repeat;
  background-position: right center;
  font-size: 14px;
  color: #333;
  opacity: 0.6;
  padding-right: 16px;
  cursor: pointer;
  transition: 0.3s;
}

.more:hover {
  background-image: url('@/assets/icons/arrow-right/icons9-arrow-100.png');
  color: #ff8140;
  opacity: 1;
  transition: 0.3s;
}
